<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>OJT</title>
    </head>
    <body>

        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            
            <!-- Header -->
                     

                <h2>Students</h2>
                <a class="btn btn-primary btn-lg" th:href="@{/ojt/add}" th:text="Add" ></a>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 150px;">id</th>
                            <th style="width: 150px;">Student Id</th>
                            <th style="width: 150px;">Name</th>
                            <th style="width: 150px;">Reflection</th>
                             <th style="width: 150px;">Action to Perform</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="student : ${students}">

                            <td th:text="${student.id}"></td>
                            <td th:text="${student.studentId }"></td>
                            <td th:text="${student.studentName }"></td>
                            <td th:text="${student.reflection}"></td>
                            <td><a class="btn btn-primary btn-lg"  th:href="@{/ojt/update(id=${student.id})}">Update</a>&nbsp;
                                <a class="btn btn-primary btn-lg"  th:href="@{/ojt/delete(id=${student.id})}">Delete</a>&nbsp;
                            </td>

                        </tr>
                    </tbody>
                </table>    

            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>